.MuiPaper-root {
    margin: 1.5em auto;
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid  rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    padding: .5em;
    border-radius: 0px !important;
}

.startBrawl {
    background: rgba(150, 139, 248, 0.05) !important;
    border: 2px solid  rgba(200, 96, 231, 0.5) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(7px) !important;
    border-radius: 0 !important;
    margin-bottom: 1em !important;
}

